*{
    padding: 0;
    margin: 0;
}
.nav{
    background-color: bisque;
}
.nav ul{
    display: flex;
    gap: 34px;
}
.nav ul li{
    list-style: none;
    padding: 20px;
}
.red{
    background-color: red;
}