.card{
    width: 20vw;
    word-wrap: normal;
    border: 2px solid black;
    margin: 24px;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}